
@{
    ViewBag.Title = "HienThiTen";
}
<ul style="display: inline-block">
    <li><a href="~/Home/Index">Trang chủ</a></li>
    <li><a href="~/Home/HienThiTen">Hiển thị tên</a></li>
</ul>
<h2>Nguyễn Thị Linh Ngân</h2>

