
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThongTin</title>
</head>
<body>
    <ul>
        <li><a href="~/Home/TrangChu">Trang chủ</a></li>
        <li><a href="~/Home/ThongTin">Thông tin</a></li>
        <li><a href="~/Home/DangNhap">Đăng nhập</a></li>
    </ul>
    <div> 
        My name is Ngan
    </div>
</body>
</html>
