
@model List<Baitap2.Helper.SinhVien>
@{
    ViewBag.Title = "Home";
    ViewBag.button = "Sign in";
    ViewBag.active = 1;
    Layout = "~/Views/Shares/LayoutUser.cshtml";
    Baitap2.Helper.SinhVien sv1 = (Baitap2.Helper.SinhVien)ViewBag.sv1;
}
<div style="margin:150px">
    <h4>Danh sách sinh viên</h4>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr>
            @foreach(var item in Model)
            {
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
            }
        </tr>
    </table>
</div>

